.mainBg{
    width: 100vw;
    height: 100vh;
    background-image: url(./assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
}
.keyblock {
    background: black;
    opacity: 0.3;
    color: crimson;
    width: 50px;
    height: 50px;
    padding: 20px;
    border: 2px solid rebeccapurple;
    transform: all 0.07s;
    margin: 10px;
}
.keyblock > kbd{
    font-size: 50px;
}
.sound {
    transform: scale(1.1);
    box-shadow: 2px;
}